@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$header-font-family: "'Oleo Script Swash Caps'", cursive;
$text-font-family: "Quicksand", sans-serif;

$interactive_light: #f3dfc1;
$main: #f3cea1;
$interactive_dark: #654321;
$black: #1a1c1a;
$grey_dark: #d3d3d3;
$grey: #e7e7e7;
$white: #fbfaf5;
