// Old News Heading
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

$header-font-family: "UnifrakturCook", cursive;
$text-font-family: "Dancing Script", cursive;

$interactive_light: #f3dfc1;
$main: #f3cea1;
$interactive_dark: #654321;
$black: #1a1c1a;
$grey: #d3d3d3;
$white: #fbfaf5;

// main / interactive, interactive light, interactive dark
// black
// white
