@import "./base/base.module.scss";
@import "./base/variables";

.wrapper {
  @include wrapper($light_purple);
  padding: 25px 0;

  .category {
    margin-left: 1.5%;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
  }

  .buttons {
    margin-left: 1.5%;

    .button {
      cursor: pointer;
      margin-right: 5px;
      padding: 5px 10px;
      background-color: white;
      font-size: 0.9rem;
      border: 1px black solid;
      border-radius: 10px;
    }
  }
}
