@import "./base/base.module.scss";
@import "./base/variables";

.wrapper {
  //   width: 22.5%;
  //   min-height: 25%;
  max-height: 25%;
  min-width: 25%;
  max-width: 35%;
  //   border: 2px red solid;
  position: relative;
  text-align: center;
  transition: 0.5s;
  z-index: 1;

  .img {
    // height: 100%;
    width: 100%;
    border-radius: 10px;
    filter: grayscale(100%) brightness(100%) opacity(50%);
  }

  .contentDiv {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    line-height: 20px;
    // border: 2px red solid;
    height: 50px;
  }
}

.wrapper:hover {
  transform: scale(1.05);
  z-index: 2;
  cursor: pointer;
}
