@import "./base/base.module.scss";
@import "./base/variables";

.wrapper {
  // max-height: 25%;
  // min-width: 25%;
  // max-width: 35%;
  max-width: 80%;
  position: relative;
  text-align: center;
  transition: 0.5s;
  z-index: 1;
  color: $white;

  .img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    filter: grayscale(100%) brightness(100%) opacity(50%);
    box-shadow: 0 0 15px 10px $black;
    -moz-box-shadow: 0 0 15px 10px $black;
    box-shadow: 0 0 15px 10px $black;

    // -webkit-box-shadow: 0px 0px 50px 0px rgba(251, 250, 245, 0.75);
    // -moz-box-shadow: 0px 0px 50px 0px rgba(251, 250, 245, 0.75);
    // box-shadow: 0px 0px 50px 0px rgba(251, 250, 245, 0.75);
  }
  .contentDiv {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    line-height: 20px;
  }
}

.wrapper:hover {
  transform: scale(1.05);
  z-index: 2;
  cursor: pointer;
}
